.animalTable {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.animalTable th {
    background-color: #1AC9A7;
    color: white;
    cursor: pointer;
}

.animalTable, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
.animalTable, tr {
 	height: 68px;
}
	
table.animalTable tr:nth-child(odd) {
	background-color: #dedede;
}

.animalDiv {
	margin-top: 40px;
	text-align: center;
}