html {
	height:100vh;
}

body {
	background-color:#85C4ED;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	padding-top:65px;
}

footer {
	height:10vh;
	background-color:#f5f5f5;
	margin-top:15px;
}

main {
	background-color:#fff;
	flex:1;
}

.googleMapBox {
	width:350px;
	height:350px;
	border:1px solid #000;
	margin:15px;
}

.vetCard {
	width:95%;
	height:200px;
	border:1px solid #000;
	margin:15px;
}

.vetCard img {
	width:25%;
	margin:5px;
}

#homeBanner {
	background-image:url(../img/banner_home.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.navbar-nav > li:hover {
	background-color:#1AC9A7;
}

li > a {
	cursor:pointer;
	margin:0 5px;
}

.form-heading {
	color:#fff;
	font-size:23px;
}

.main-div {
	background:#fff none repeat scroll 0 0;
	border-radius:2px;
	margin:10px auto 30px;
	max-width:38%;
	padding:50px 70px 70px 71px;
}

.panel h2 {
	color:#444;
	font-size:18px;
	margin:0 0 8px;
}

.panel p {
	color:#777;
	font-size:14px;
	margin-bottom:30px;
	line-height:24px;
}

.login-form .form-control {
	background:#f7f7f7 none repeat scroll 0 0;
	border:1px solid #d4d4d4;
	border-radius:4px;
	font-size:14px;
	height:50px;
	line-height:50px;
}

.login-form .form-group {
	margin-bottom:10px;
}

.login-form {
	text-align:center;
}

.forgot a {
	color:#777;
	font-size:14px;
	text-decoration:underline;
}

.login-form .btn.btn-primary {
	background:#1AC9A7 none repeat scroll 0 0;
	border-color:#28b498;
	color:#fff;
	font-size:14px;
	width:100%;
	height:50px;
	line-height:50px;
	padding:0;
}

.forgot {
	text-align:left;
	margin-bottom:30px;
}

.botto-text {
	color:#fff;
	font-size:14px;
	margin:auto;
}

.login-form .btn.btn-primary.reset {
	background:#f90 none repeat scroll 0 0;
}

.back {
	text-align:left;
	margin-top:10px;
}

.back a {
	color:#444;
	font-size:13px;
	text-decoration:none;
}